@import 'tailwindcss';

html,
body,
#__next {
  height: 100%;
  min-height: 100%;
}

body,
#__next {
  font-family: 'Inter', sans-serif;
}

@media (max-width: 640px) {
  .max-sm-hidden {
    display: none !important;
  }
}
